<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.manage.mapper.EmpMapper">
    <update id="update">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    <select id="list" resultType="com.itheima.manage.pojo.Emp">
        select e.*, d.name deptName
        from emp e left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">e.name like concat('%', #{name}, '%')</if>
            <if test="gender != null">and e.gender = #{gender}</if>
            <if test="begin != null and end != null">and e.entry_date between #{begin} and #{end}</if>
        </where>
        order by e.update_time desc
    </select>

    <select id="listPage" resultType="com.itheima.manage.pojo.Emp">
        select e.*, d.name deptName
        from emp e left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">e.name like concat('%', #{name}, '%')</if>
            <if test="gender != null">and e.gender = #{gender}</if>
            <if test="begin != null and end != null">and e.entry_date between #{begin} and #{end}</if>
        </where>
        order by e.update_time desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(*) from emp e
        <where>
            <if test="name != null and name != ''">and e.name like concat('%', #{name}, '%')</if>
            <if test="gender != null">and e.gender = #{gender}</if>
            <if test="begin != null and end != null">and e.entry_date between #{begin} and #{end}</if>
        </where>
    </select>
<!--    查询员工基本信息以及员工的工作经历信息-->
    <resultMap id="EmpWithExprResultMap" type="com.itheima.manage.pojo.Emp">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>
        <result property="entryDate" column="entry_date"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deptName" column="deptName"/>
        <collection property="empExprList" ofType="com.itheima.manage.pojo.EmpExpr">
            <id property="id" column="empExprId"/>
            <result property="empId" column="emp_id"/>
            <result property="begin" column="begin"/>
            <result property="end" column="end"/>
            <result property="company" column="company"/>
            <result property="job" column="exprJob"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="EmpWithExprResultMap">
        select
            e.id,
            e.username,
            e.password,
            e.name,
            e.gender,
            e.phone,
            e.job,
            e.salary,
            e.image,
            e.entry_date,
            e.dept_id,
            e.create_time,
            e.update_time,
            d.name as deptName,
            expr.id as empExprId,
            expr.emp_id,
            expr.begin,
            expr.end,
            expr.company,
            expr.job as exprJob
        from emp e
                 left join dept d on e.dept_id = d.id
                 left join emp_expr expr on e.id = expr.emp_id
        where e.id = #{id}
    </select>


    <select id="countEmpJobData" resultType="java.util.Map">
        select
            (case
                 when job = 1 then '班主任'
                 when job = 2 then '讲师'
                 when job = 3 then '学工主管'
                 when job = 4 then '教研主管'
                 when job = 5 then '咨询师'
                 else '其他'
                end) as pos,
            count(*) as num
        from emp
        group by job
        order by num
    </select>
    <select id="countEmpGenderData" resultType="java.util.Map">
        select
            (case
                 when gender = 1 then '男'
                 when gender = 2 then '女'
                 else '其他'
                end) as pos,
            count(*) as num
        from emp
        group by gender
        order by num
    </select>


    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
